.skill_title {
  padding: 10px;
  color: #7e22ce;
  text-align: center;
  text-decoration: underline;
}
.skills__container {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}
.left {
  width: 40%;
}
.right {
  width: 490px;
  margin-left: 25px;
}
.skills__subtitle {
  margin-bottom: 20px;
}

.left p{
  margin-bottom: 20px;
  text-align: left;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__names svg {
  font-size: 2rem;
  margin-right: 10px;
  color: #d8b4fe;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #7e22ce;
  height: 0.25rem;
  border-radius: 0.5rem;
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__seo {
  width: 85%;
}

.skills__react {
  width: 65%;
}

.skills__next {
  width: 70%;
}

.skills__img {
  width: 100%;
  border-radius: 0.5rem;
}

@media (max-width: 1055px) {
  .right {
    width: 50%;
  }
}

@media (max-width: 755px) {
  .skills__container {
    display: block;
    width: 90%;
    margin: auto;
  }
  .right,
  .left {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 455px) and (max-width: 755px) {
	.skills__img {
    width: 400px;
  }
}
