@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  color: #d5d5d5;
  background-color: #1c1c1e;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  max-width: 1600px;
  margin: auto;

}
li{
  list-style: none;
}
a{
  color: #1c1c1e;
  text-decoration: none;
}
.margin_top{
  margin-top: 55px;
}
.button{
  padding: 10px 15px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: #ededed;
  transition: all 0.5s ease;
}
.button:hover{
  background-color: #d8b4fe;
}
#hero_top{
  margin-top: 100px;
}
.text{
  font-size: 16px;
}

/* this is for number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1155px) {
  #hero_top{
    margin-top: 55px;
  }
}

@media (max-width: 955px) {
  .container{
    width: 90%;
  }
}